.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #247;
  height: 50px;
  padding: 20px;
  color: #DEF;
}

.App-header h2 {
  font-weight: normal;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tr-task td {
  padding-left: 20px;
  padding-right: 20px;
}

.tr-task-state-2 {
  color: #F60;
}
.tr-task-state-3 {
  color: #F00;
}
.tr-task-state-4 {
  color: #F6F;
}
.tr-task-state-5 {
  color: #096;
}

.tr-task a {
  text-decoration: none;
  color: inherit;
}

.task-priority {
  text-align: right;
}
